body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .mainContainer {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
    margin: 10px 0;
  }
  
  form {
    margin-top: 20px;
  }
  
  .fileInput {
    margin: 10px 0;
  }
  
  .scanButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .scanButton:hover {
    background-color: #0056b3;
  }
  
  .hidden {
    display: none;
  }
  
  .result {
    margin-top: 20px;
  }
  
  .qrResult {
    color: #333;
    font-weight: bold;
  }
  
  /* Estilos para la vista previa de la imagen */
  .imagePreview {
    margin-top: 20px;
  }
  
  #selected-image {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin romperla */
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  